body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #272323;
    color: white;
}


/************* NAVBAR ***************/

.myNavbar {
    background-color: #3C3636;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.logo-container {
    flex: 1;
}

.myNavbar a.logo {
    color: #ABAD42;
    font-family: 'Dancing Script';
    font-size: 40px;
    text-decoration: none;
}

.myNavbar .nav-links {
    display: flex;
    align-items: center;
}

.myNavbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 20px;
    margin-right: 20px;
    text-align: center;
}

.myNavbar a:hover,
.myNavbar a.active {
    color: #ABAD42;
}

.myNavbar .navIcon {
    display: none;
}

@media screen and (max-width: 600px) {
    .myNavbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .myNavbar .nav-links {
        margin-top: 5px;
    }

    .myNavbar a:not(:first-child) {
        display: none;
    }

    .myNavbar a.navIcon {
        float: right;
        display: block;
    }

    .myNavbar.responsive {
        position: relative;
    }

    .myNavbar.responsive .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .myNavbar.responsive a {
        display: block;
        text-align: left;
        width: 100%;
        box-sizing: border-box;
    }

    .myNavbar.responsive .logo-container {
        margin-bottom: 5px;
        text-align: center;
        width: 100%;

    }
    .myNavbar.responsive a.logo {
        text-align: center;
    }
}


/**********LANDING PAGE**********/

.profileImg {
    text-align: center;
    background-color: #ABAD42;
}

.welcome-message {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connectBtns{
    text-align: center; 
    display:inline-block; 
}

.btn {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 0%;
  }
  
.cvBtn {
    background-color:#ABAD42; 
    color: white; 
    border: 2px solid #ABAD42;
  }
  
.cvBtn:hover {
    background-color:#3C3636;
    color: white;
    border: 2px solid #ABAD42;
    transform: translateY(-5px);
  }
  
.hireBtn {
    background-color:white;
    color: black;
    border: 2px solid #ABAD42;
  }
  
.hireBtn:hover {
    background-color:#3C3636; 
    color: white;
    border: 2px solid #ABAD42;
    transform: translateY(-5px);
  }


  /********* ABOUT SECTION **********/

.about{
    text-align: justify;    
}

.aboutHeading{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.aboutHeading h1 {
    color: #ABAD42;
    font-family: 'Dancing Script';
    font-size: 80px;
    padding-bottom: 10px;
    padding-top: 20px;
    position: relative;
}

.aboutHeading h1::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0; 
    width: 30%; 
    height: 5px;
    background-color: #ABAD42;
}

.abouttxt{
    padding-top: 10px;
    font-size: 20px;
}

.services{   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.services h2 {
    color: white;
    font-family: 'Reenie Beanie';
    font-size: 50px;
    padding-bottom: 10px;
    padding-top: 5px;
    position: relative;
}

.services h2::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0; 
    width: 30%; 
    height: 5px;
    background-color: white;
}

.service-cards {
    margin: 10px -5px;
    display: flex;
    flex-wrap: wrap;
}
  
.service-cards:after {
    content: "";
    display: table;
    clear: both;
  }

.column {
    flex: 1;
    padding: 0 5px;
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
.service-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    padding: 16px;
    text-align: left;
    background-color: #3C3636;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.service-card i {
    color: #ABAD42;
    padding-bottom: 5px;
    align-self: center;
}

.service-card h3 {
    font-size: 20px;
    color: #ABAD42;
    align-self: center;
    margin-top: auto;
}

.service-card p {
    margin-top: auto;
}

.service-card:hover {
    transform: translateY(-5px);
}
  
.services {
    text-align: center;
    margin-bottom: 20px;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
}

.skill {
    font-size: 14px;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    background-color: #3C3636;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill:hover {
    background-color: #ABAD42;
    color: black;
    transform: translateY(-3px);
}


/********* CONTACTS SECTION ********/

.contacts {
    text-align: justify;    
}

.contact-heading {
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
}

.contact-heading h1 {
    color: #ABAD42;
    font-family: 'Dancing Script';
    font-size: 80px;
    padding-bottom: 10px;
    padding-top: 20px;
    position: relative;
}

.contact-heading h1::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0; 
    width: 30%; 
    height: 5px;
    background-color: #ABAD42;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-top: 20px;
}

.form-input, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 3px;
  display: inline-block;
  border: 1px solid #ABAD42;
  box-sizing: border-box;
  background-color: #3C3636;
  color: white;
}

.sendBtn {
  background-color: #C6C76E;
  color: black;
  margin-left: 3px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.sendBtn i {
  margin-right: 5px;
}

.sendBtn:hover {
  background-color: #ABAD42; 
  color: white;
  border: 2px solid #ABAD42;
  transform: translateY(-5px);
}

/** Location, Phone, Email Section **/

.contact-list {
    list-style-type: none;
    padding-left: 25%;
    padding-top: 20px;
  }
  
.list-item {
    line-height: 4;
    color: #ABAD42;
  }
    
.place {
    margin-left: 62px;
  }
  
.phone {
    margin-left: 56px;
  }
  
.gmail {
    margin-left: 53px;
    font-size: 25px;
  }
  
.contact-text, .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
.contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
.social-media-list li a {
    color: #ABAD42;
  }
  
.social-media-list li {
    position: relative; 
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 10px 3px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #3C3636;
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #ABAD42;
    transition: all .2s ease-in-out;
  }
  
.social-media-list li:hover {
    background-color: #ABAD42; 
  }
  
.social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
.social-media-list li:hover a {
    color: #000;
  }
  
.copyright {
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
hr {
    border-color: rgba(255,255,255,.6);
  }